.grid {
    color: white;
    display: grid;
    gap: 5px;
    grid-auto-rows: 100px;
    margin-bottom:30px;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 20px));
}

.item:nth-child(odd) {
    background-color: #2ecc71;
}

.item:nth-child(even) {
    background-color: #3498db;
}